body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
}

h1{
    font-family: cursive;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 2px;
    color:whitesmoke;
    text-shadow: 0 20px 5px rgba(255,255,255,0.5);
    animation:floating 3s linear infinite;
    animation-direction: alternate;
}

@keyframes floating{
    from { transform: rotate(5deg);}
    to {transform: rotate(-5deg);}
}