:root{
    --rotationDeg:0deg;
}
body{
   background: #000;
   overflow: hidden;
}

.profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
}

.img-profile{
    width: fit-content;
    height: fit-content;
    position: relative;
    box-shadow: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;

}
.rightFlip{
    animation-name: test;
    animation-duration: 3s;
}

@keyframes test{
    from{transform: rotateY(0deg)}
    to{transform:rotateY(var(--rotationDeg))}
}
